html, body{
    margin: 0;
    padding: 0;
}
.slider{
    position: relative;
    width:540px;
    height: 305px;
    overflow: hidden;
    margin: 0 auto;
}
.slides{
    position: relative;
    height: 305px;
}

.slide{
    float: left;
    display: block;
}
.slide img{
    width:540px;
    height: 305px;
}
.prev{
    position: absolute;
    left:0;
    top:50%;
    margin-top: -20px;
    width:40px;
    height: 40px;
    background: red;
}
.next{
    position: absolute;
    right:0;
    top:50%;
    margin-top: -20px;
    width:40px;
    height: 40px;
    background: red;
}